@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d1d8e0;
  --details-icons: #1e3799;
  --font-color: #0a132b;
  --box-background: #282b2e;
  --font-color-sucess: #4cd137;
  --font-color-failed: #e84118;
  --font-white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#08091d;
    --details-icons: #1e3799;
    --font-color: #d1d8e0;
    --box-background: #191f2e;
    --font-color-sucess: #4cd137;
    --font-color-failed: #e84118;
    --font-white: #fff;
  }
}

*::-webkit-scrollbar {
  width: 4px; /* Largura da barra de rolagem */
  height: 5px;
  
}

/* Estilizando o trilho da barra de rolagem */
*::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo do trilho */
}

/* Estilizando o polegar da barra de rolagem */
*::-webkit-scrollbar-thumb {
  background-color: #191f2e; /* Cor do polegar */
  border-radius: 5px;
}

/* Estilizando o polegar da barra de rolagem quando houver hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: #08091d; /* Cor do polegar ao passar o mouse */
}

body {
  height: 100vh;
  overflow: hidden;
}

@keyframes counting {
  0% {
      content: "R$ 200,00";
  }
  100% {
      content: "R$ 999,99";
  }
}